<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All Fighters</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>
<body>
<h1>All Fighters</h1>
<table border="1" cellspacing="0" cellpadding="8">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created At</th>
        <th>Damage Per Hit</th>
        <th>Health</th>
        <th>Resistance</th>
        <th>Anime From</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the fighters list -->
    <tr th:each="fighter : ${fighters}">
        <td th:text="${fighter.id}">ID</td>
        <td>
            <a th:href="@{/design/getById/{id}(id=${fighter.id})}" th:text="${fighter.name}">
                Name
            </a>
        </td>
        <td th:text="${fighter.createdAt}">Created At</td>
        <td th:text="${fighter.damagePerHit}">Damage Per Hit</td>
        <td th:text="${fighter.health}">Health</td>
        <td th:text="${fighter.resistance}">Resistance</td>
        <td th:text="${fighter.animeFrom}">Anime From</td>
    </tr>
    </tbody>
</table>
</body>
</html>
